[submodule "extern/GLFW"]
	path = extern/GLFW
	url = https://github.com/glfw/glfw
	ignore = all
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm
	ignore = all
[submodule "extern/zlib"]
	path = extern/zlib
	url = https://github.com/madler/zlib
	ignore = all
